.root {
    -fx-font-family: "Palatino Linotype";
}

.vbox {
    -fx-background-color: #223637;
}
.label {
    -fx-text-fill: #D3A41B;
    -fx-font-size: 14;

}

.radio-button {
    -fx-text-fill: #D3A41B;
}
.grid-pane {
    -fx-background-color: #395c5e;
}

.button {
    -fx-text-fill: #D3A41B;
    -fx-padding: 8;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,  #395c5e 0%, #2a484a 100%),
            #2a484a,
            #395c5e,
            radial-gradient(center 50% 50%, radius 100%, #588e91,  #395c5e);
    -fx-font-weight: bold;
}